Checks: "
-*,
cppcoreguidelines-*,
clang-analyzer-*,
cert-*,
bugprone-*,
hicpp-*,
modernize-*,
portability-*,
-modernize-use-trailing-return-type,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-bounds-constant-array-index,
"
